@mixin container($breakpoint: all) {
  max-width: 1280px;
  margin-inline: auto;

  @if ($breakpoint == all) {
    @each $breakpoint, $margin in $container-margins {
      @include breakpoint($breakpoint) {
        $width: calc(100% - #{$margin * 2});
        width: $width;
      }
    }
  } @else {
    $container-margin: if(map-has-key($container-margins, $breakpoint), map-get($container-margins, $breakpoint), 0);
    $width: calc(100% - #{$container-margin * 2});
    width: $width;
  }
}

@mixin container-bleed($breakpoint: all) {
  width: auto;

  @if ($breakpoint == all) {
    @each $breakpoint, $margin in $container-margins {
      @include breakpoint($breakpoint) {
        margin-inline: #{$margin * -1};
      }
    }
  } @else {
    $container-margin: if(map-has-key($container-margins, $breakpoint), map-get($container-margins, $breakpoint), 0);
    margin-inline: #{$container-margin * -1};
  }
}
