@import "base/scss";

.gifts {
  position: relative;

  &.container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    @include lg {
      padding: 15px 0;
    }
  }

  &__columns {
    min-height: 50vh;
    display: flex;
    flex-direction: column;

    @include lg {
      display: grid;
      grid-template-columns: 1fr 5fr;
      column-gap: 10px;
      align-items: start;
    }
  }

  &__products {
    @include md-max {
      padding-bottom: 30px;
    }
  }

  &__products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    padding: 0 10px;
    margin-top: 20px;

    @include lg {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 0;
      padding: 0;
    }

    @include xl {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .ifind-loading {
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;

    img {
      width: 75px;
      height: 75px;
    }
  }

  // Loading State
  &--loading {
    .ifind-loading.ifind-loading {
      visibility: visible;
      opacity: 1;
    }
  }
}
