@import "base/scss";

.gifts {
  &__columns {
    @include lg {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 10px;
    }
  }

  &__products-grid {
    display: grid;
    padding: 15px 0;

    @include lg {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 15px;
      row-gap: 15px;
    }
  }
}
