@import 'base/scss';
@import 'base/global';

.Scontainer {
    padding: 20px;
    width: 600px;
    
    img {
        height: 320px;
    }
    
    @include xl_mobile {
        width: 450px;
    
        img {
        height: 300px;
        }
    }
}
    
.carousel .thumb {
    width: 5%;
    height: 50px;
}
    
.carousel {
    text-align: center;
    margin-left: 10px;
}