@import "./scss";
@import "./global/reset";

// Global variables
:root {
  --header-nav-height-mobile: 62px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;

  ol,
  ul,
  dl {
    padding-left: 0;
  }

  &.body--fixed {
    position: fixed;
    top: calc(-1 * var(--body-fixed-scroll));
    width: 100%;
  }
}

a,
a[href] {
  text-decoration: none;
}

// Colors utility classes
@each $color-name, $color-value in $colors {
  #{"." + $color-name} {
    color: $color-name;
  }

  #{".bg-" + $color-name} {
    background-color: $color-value;
  }
}

.container {
  @include container;
}

.content {
  p {
    margin-top: 1em;
  }

  & h2,
  & h3,
  & h4,
  & h5 {
    margin-top: 1em;
  }
}
