@import 'base/scss';

.ifind-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &--dark {
    border-radius: 100%;
    overflow: hidden;
    background-color: currentColor;

    .ifind-icon__image {
      background-color: color(white);
      transform-origin: center;
      transform: scale(0.6);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: currentColor;
    mask: var(--icon-path);
    mask-repeat: no-repeat;
    mask-position: center;
  }
}
