@import "base/scss";

.offers-sidenav {
  .offers-icon {
    width: 50px;
    height: 15px;

    > * {
      height: 100%;
      width: 100%;
      background-position: left center;
    }

    .ifind-icon__image {
      mask-position: left;
      mask-size: contain;
    }
  }

  .offers-label.offers-label {
    margin-left: 20px;
  }
}
