@import "base/scss";

.footer {
  background: color(gray-darker);

  &__container {
    @include container;
  }

  .row {
    @include lg {
      @include grid(lg);
    }

    @include xl {
      @include grid(xl);
    }
  }

  h4 {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  &__about {
    @include col-span;
    margin-bottom: 50px;

    @include xl {
      @include col-span(6);
      padding-right: 94px;
    }

    .logo {
      margin-bottom: 20px;
    }
    .text {
      color: #fff;
      font-weight: 400;
    }
    .call {
      color: #fff;
      margin-top: 15px;
      font-weight: 400;
    }
    .call span {
      display: block;
    }

    .call a {
      color: #ba0130;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }

  &__links {
    @include col-span;
    margin-bottom: 40px;

    @include md {
      @include col-span(3);
    }

    @include xl {
      @include col-span(2);
    }

    ul li {
      display: block;
      margin-bottom: 8px;
    }
    ul li:last-child {
      margin-bottom: 0;
    }
    ul li a {
      color: #fff;
      font-weight: 400;
    }
    ul li a:hover {
      color: #ba0130;
      padding-left: 10px;
    }
  }

  &__social {
    @include lg {
      @include col-span(3);
    }

    @include xl {
      @include col-span(2);
    }

    .contact ul li {
      color: #fff;
      display: block;
      margin-bottom: 4px;
      font-weight: 400;
    }
    ul {
      margin-top: 20px;
    }
    ul li {
      display: inline-block;
      margin-right: 25px;
    }
    ul li:last-child {
      margin-right: 0;
    }
    ul li a {
      color: #fff;
      display: block;
      font-size: 16px;
    }
    ul li a:hover {
      color: #ba0130;
    }
  }

  /* Copyright */
  .footer__copyright {
    .inner {
      border-top: 1px solid #eeeeee3d;
      padding: 20px 0;
    }
    .right {
      float: right;
    }
    p {
      color: #fff;
    }
    p a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        color: #bc0031;
      }
    }

    .left {
      float: none;

      @include lg {
        @include col-span(5);
      }
    }

    .right {
      float: none;

      @include lg {
        @include col-span(5);
      }

      @include xl {
        @include col-span(6);
        @include col-start(7);
      }
    }
  }

  .contact ul li:last-child {
    margin-bottom: 0;
  }
}
