@import 'base/scss';

.flag-select {
  position: relative;

  &--expanded {
    .flag-select__dropdown {
      display: block;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 0;
    background-color: transparent;

    &:hover {
      box-shadow: 0 0 1px rgba(color(gray), 2);
    }
  }

  &__dropdown {
    display: none;
    background-color: color(white);
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 0 2px rgba(color(black), .2);
    max-height: 200px;
    overflow: auto;
  }

  &__option-button {
    display: flex;
    width: 100%;
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 10px 20px 10px 10px;
    border-radius: 0;

    &:hover {
      background-color: rgba(color(gray), .1);
    }
  }

  &__image {
    width: 25px;
    margin-right: 10px;
    will-change: transform;
  }

  &__caret {
    font-size: .7em;
    margin-left: 5px;
  }
}
