@import "base/scss";

.product-deal-card {
  --text-opacity: .8;
  --shadow-opacity: .3;
  --shadow-width: 10px;
  --corner-radius: 10px;
  border-radius: var(--corner-radius);
  box-shadow: 0 0 var(--shadow-width) rgba(color(gray-dark), var(--shadow-opacity));
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0.6rem;
  transition: all .3s;
  will-change: transform;
  margin-bottom: 15px;

  &:hover {
    --text-opacity: 1;
    --shadow-width: 20px;
    --shadow-opacity: .7;
    transform: scale(1.01);
  }

  &:active,
  &:link,
  &:visited {
    color: color(gray-dark);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    border-radius: var(--corner-radius);
    height: 100%;
  }

  &__image {
    aspect-ratio: 1;
    border-radius: var(--corner-radius) var(--corner-radius) 0 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px;
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(color(black), var(--text-opacity));
    transition: all .3s;
    word-break: break-word;
  }

  &__deal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__price {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all .3s;
    font-size: 16px;

    &-original {
      border-radius: 0 10px 0 10px;
      padding: 2px 10px 5px;
      color: color(black);
      background-color: color(gray-lighter);
      font-size: .8em;
      text-decoration: line-through;
      margin-bottom: -6px;

      & + * {
        margin-left: 10px;
      }
    }

    &-discounted {
      background-color: rgba(color(dark-red), var(--text-opacity));
      border-radius: 10px;
      padding: 2px 5px;
      color: color(white);
    }
  }

  &__empty {
    margin: 10px auto;
    width: 100%;
    text-align: center;
  }

  &__discount {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: -10px;
    background-color: color(dark-red);
    color: color(white);
    display: flex;
    align-items: flx-start;
    justify-content: flex-end;
    border-radius: 0px 0 0px 900px;
    width: 80px;
    height: 60px;
    font-weight: bolder;
    padding: 10px 20px 0 0;

    &::before {
      content: '';
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
