@import 'base/scss';

.carousel {
    top: 20px;
    left: 42em;
    height: 10rem;
    width: 80rem;
    //background-color: rgb(168, 167, 167);
    
    &__container {
        position: absolute;
        top: 28px;
        left: 62pt;
    }

    .items {
        display: flex;
        top: 2rem;
        margin-right: 2;
        height: 27px;
        text-decoration: none;
    }
    .carousel-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 0;
        width: 120px;
        color: $white;
        background-color: #676973;
        border-radius: 11px;
        border: 1px solid #676973;

        .carousel-label {
            font-size: 12px
        }
    }

    .carousel-button:hover, .carousel-button:focus {
        color: $white;
        background-color: $red;
        border: 1px solid $red;
    }

    .carousel-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2px;
        width: 13px;
        height: 13px;
        margin-right: 6px;
    } 

    .active {
        color: $white;
        background-color: $red;
        border: 1px solid $red;
    }

}