@import "base/scss";
@import "base/global";

.offers {
  &__container {
    @include xl {
      @include container(xl);
      @include grid(xl);
    }
  }

  .loading {
    text-align: center;
  }

  .loading-icon {
    margin-top: 8%;
    margin-left: 41%;
    height: 150px;
    pointer-events: none;
    height: 100px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .loading-icon {
      animation: loading-icon-spin infinite 1.5s linear;
    }
  }

  @keyframes loading-icon-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .progress {
    position: relative;
    top: 60%;
    left: 41%;
    height: 20px;
    width: 200px;
    background-color: $white;

    @include small_laptop {
      left: 39.5%;
    }

    @include tablet {
      left: 38.5%;
    }

    @include xs_tablet {
      left: 36%;
    }

    @include xl_mobile {
      left: 34%;
    }

    @include xml_mobile {
      left: 32%;
    }

    @include mobile {
      left: 29%;
    }

    @include sm_mobile {
      left: 25%;
    }

    @include small_mobile {
      left: 22%;
    }
  }

  .product-deals-grid {
    @include xl {
      @include col-span(9);
      @include col-start(4);
    }
  }
}
