@import 'base/scss';
@import 'base/global';

.offers {

	.container {
		@include bootstrap(container);
	}

    .loading {
	    text-align: center;
    }

    .loading-icon {
        margin-top: 8%;
        margin-left: 41%;
	    height: 150px;
	    pointer-events: none;

		@include small_laptop {
			height: 130px;
		}

		@include tablet {
			height: 120px;
		}

		@include xs_tablet {
			margin-left: 39%;
		}

		@include xl_mobile {
			margin-left: 37%;
			height: 115px;
		}

		@include xml_mobile {
			height: 110px;
		}
		
		@include mobile {
			margin-left: 36%;
		}

		@include sl_mobile {
			height: 105px;
		}

		@include sm_mobile {
			margin-left: 33%;
			height: 100px;
		}

		@include small_mobile {
			margin-left: 32%;
			height: 95px;
		}
    }
  
    @media (prefers-reduced-motion: no-preference) {
	    .loading-icon {
	        animation: loading-icon-spin infinite 1.5s linear;
	    }
    }
  
    @keyframes loading-icon-spin {
	    from {
	        transform: rotate(0deg);
	    }
	    to {
	        transform: rotate(360deg);
	    }
    }

	.progress {
        position: relative;
        top: 60%;
        left: 41%;
        height: 20px;
        width: 200px;
        background-color: $white;

		@include small_laptop {
			left: 39.5%;
		}

		@include tablet {
			left: 38.5%;
		}

		@include xs_tablet {
			left: 36%;
		}

		@include xl_mobile {
			left: 34%;
		}

		@include xml_mobile {
			left: 32%;
		}
		
		@include mobile {
			left: 29%;
		}

		@include sm_mobile {
			left: 25%;
		}

		@include small_mobile {
			left: 22%;
		}
    }

}