@import "@base/scss";

.product-deals-grid {
  margin-bottom: 10px;

  &__heading {
    background-color: $gray-900;
    border: 1px solid $white;
    padding: 9px;
    color: color(white);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: var(--corner-radius) var(--corner-radius) 0 0;
    position: sticky;
    top: 61px;
    z-index: 1;
  }

 &__items {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 10px;
      overflow: visible;

      @include mobile-up {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 10px;
      }

      @include xxl_mobile-up {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 12px;
      }

      @include tablet-up {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 12px;
      }

      @include small-laptop-up {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 14px;
      }

      @include laptop-up {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 15px;
      }

      @include small-desktop-up {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 25px;
      }

      @include desktop-up {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 20px;
      }
    }
}
