$breakpoints: (
  default: (null, 374),
  xs: (375, 539),
  sm: (
    540,
    767,
  ),
  md: (
    768,
    1023,
  ),
  lg: (
    1024,
    1279,
  ),
  xl: (
    1280,
    1439,
  ),
  xxl: (
    1440,
  ),
);
