@import "base/scss";

.grid-guide {
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  &__grid {
    @include grid;
    @include container;
    height: 100%;
  }

  &__column {
    height: 100%;
    background-color: rgba(color(dark-red), 0.1);

    @include sm-max {
      &:nth-child(n + 7) {
        display: none;
      }
    }

    @include md-max {
      &:nth-child(n + 9) {
        display: none;
      }
    }

    @include lg-max {
      &:nth-child(n + 11) {
        display: none;
      }
    }
  }
}
