.attributes-table {
    margin-bottom: 0;
    font-size: 12px;

    th {
        background-color: silver;
        text-transform: uppercase;
        color: white;
        padding: 5px;
        font-weight: light;
    }

    td {
        padding: 5px;
        border-bottom: 1px solid #eee;
    }
}