@import "base/scss";

.percent-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;

  &:hover {
    .percent-circle__tooltip {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }
  }

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 5px;
    stroke: #{color(pale-blue)};
    stroke-dasharray: 301px;
    box-shadow: inset 0 0 0 3px color(gray-lighter);
    border-radius: 900px;
    transform: rotate(-90deg);
  }

  &__tooltip {
    position: absolute;
    bottom: 50%;
    right: 50%;
    border-radius: 10px 10px 0 10px;
    background-color: color(gray);
    color: color(white);
    padding: 15px;
    min-width: 200px;
    will-change: transform;
    transition: all .15s ease;
    transform: scale(.8);
    opacity: 0;
    visibility: hidden;
    transform-origin: bottom right;
  }
}
