$z-index-modal: 1000;

$z-index-nav: 100;
$z-index-sidenav-list: $z-index-nav + 1;
$z-index-sidenav-heading: $z-index-sidenav-list + 1;
$z-index-tags-filter: $z-index-nav - 115;
$z-index-tags-filter--expanded: $z-index-nav + 4;
$z-index-ifind-loading: $z-index-nav + 100;
