@import "base/scss";

.navpills {
  width: 100%;
  background-color: color(gray-darker);
  position: relative;

  &__list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    column-gap: 20px;
    overflow: auto;
    z-index: 1;
    scrollbar-width: none;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      display: none;
    }

    &--scroll-left {
      mask-image: linear-gradient(to right, transparent 30px, white 60px);
    }

    &--scroll-right {
      mask-image: linear-gradient(to left, transparent 30px, white 60px);
    }

    &--scroll-both {
      mask-image: linear-gradient(
        to right,
        transparent 30px,
        white 60px,
        white calc(100% - 60px),
        transparent calc(100% - 30px),
        transparent 100%
      );
    }

    li {
      height: auto;
    }
  }

  &__item:is(&__item) {
    &:link,
    &:active,
    &:visited {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: color(white);
      color: color(black);
      height: 36px;
      border-radius: 14px;
      font-size: 12px;
    }

    &:hover,
    &.navpills__item--active {
      background-color: color(red);
      color: color(white);
    }
  }

  .larrow,
  .rarrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    color: color(white);
    appearance: none;
    background-color: color(gray-darker);
    border: 0;
    border-radius: 100px;
  }

  .larrow {
    left: 0;
  }

  .rarrow {
    right: 0;
  }
}
