@import "base/scss";
@import "base/global";

.home {
  margin-bottom: 5rem;

  &__container {
    @include container;
  }

  .top {
    display: flex;
    margin-top: 3rem;
    padding: 20px 10px;

    @include small_desktop {
      padding: 0;
    }

    @include tablet {
      display: block;
    }

    .top-container {
      display: block;
      padding-right: 10px;
      width: 500px;

      @include small_laptop {
        width: 400px;
      }

      @include tablet {
        padding-bottom: 25px;
      }

      @include xs_tablet {
        width: auto;
      }

      h1 {
        font-weight: 600;
      }

      .top-content {
        display: block;
        margin-top: 5rem;
        margin-bottom: auto;

        // @include tablet {
        // 	//
        // }
      }

      .home-btn {
        margin-top: 1rem;
        padding: 8px 15px;
        border-radius: 5px;
        background-color: color(gray-darker);
        color: color(white);
      }

      button:hover {
        background-color: #bc0031;
      }
    }

    .top-carousel {
      display: flex;
      margin-left: auto;
      background-color: rgb(247, 247, 247);

      @include tablet {
        align-items: center;
        justify-content: center;
        padding: 25px 0;
      }

      .top-carousel-content {
        display: flex;
        align-items: center;
        justify-content: center;

        @include small_laptop {
          height: auto;
          width: 500px;
        }

        @include tablet {
          //margin-top: 6rem
          height: auto;
          width: 470px;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    background-color: rgb(247, 247, 247);
    padding: 20px 0px;

    .video-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 400px;
      width: 700px;
      border: 2px solid black;
    }
  }

  .offers {
    display: flex;
    margin-top: 3rem;
    padding: 20px 10px;

    @include tablet {
      display: block;
    }

    .offers-banner {
      display: flex;
      align-items: center;
      justify-content: center;
      //border: 2px solid black;
      margin-right: auto;

      img {
        height: 350px;
      }

      @include small_laptop {
        img {
          height: 300px;
        }
      }
    }

    .offers-container {
      display: flex;
      width: 500px;

      @include small_laptop {
        width: 300px;
      }

      @include tablet {
        margin-top: 20px;
        margin-left: auto;
      }

      .offers-content {
        display: block;
        margin-top: auto;
        margin-bottom: auto;

        .offers-text {
          display: flex;
          margin-left: auto;
          text-align: right;
          padding-left: 5px;
        }

        button {
          display: flex;
          margin-left: auto;
          margin-top: 1rem;
          padding: 5px 12px;
          border-radius: 5px;
          background-color: color(gray-darker);
          color: color(white);
        }

        button:hover {
          background-color: #bc0031;
        }
      }
    }
  }

  .prodcomp {
    display: flex;
    margin-top: 3rem;
    background-color: rgb(247, 247, 247);
    padding: 20px 10px;

    @include tablet {
      display: block;
    }

    .prodcomp-container {
      display: block;
      width: 500px;
      margin-top: auto;
      margin-bottom: auto;

      @include small_laptop {
        width: 300px;
      }

      @include tablet {
        margin-left: 0;
      }

      .prodcomp-text {
        display: flex;
        text-align: left;
        padding-right: 2px;
      }

      button {
        display: flex;
        margin-top: 1rem;
        padding: 5px 12px;
        border-radius: 5px;
        background-color: color(gray-darker);
        color: color(white);
      }

      button:hover {
        background-color: #bc0031;
      }
    }

    .prodcomp-banner {
      display: flex;
      margin-left: auto;
      align-items: center;
      justify-content: center;
      //border: 2px solid black;
      //background-color: blue;
      //padding: 150px 250px;
      img {
        height: 350px;
        width: 600px;
      }

      @include small_laptop {
        img {
          height: 300px;
        }
      }

      @include tablet {
        margin-top: 20px;
      }
    }
  }

  .gifts {
    display: flex;
    margin-top: 3rem;
    //background-color: rgb(247, 247, 247);
    padding: 20px 10px;

    @include tablet {
      display: block;
    }

    .gifts-banner {
      display: flex;
      align-items: center;
      justify-content: center;
      //border: 2px solid black;
      margin-right: auto;

      img {
        height: 360px;
      }

      @include small_laptop {
        img {
          height: 300px;
        }
      }
    }

    .gifts-container {
      display: flex;
      width: 500px;

      @include small_laptop {
        width: 300px;
      }

      @include tablet {
        margin-top: 20px;
        margin-left: auto;
      }

      .gifts-content {
        display: block;
        margin-top: auto;
        margin-bottom: auto;

        .gifts-text {
          display: flex;
          margin-left: auto;
          text-align: right;
          padding-left: 5px;
        }

        button {
          display: flex;
          margin-left: auto;
          margin-top: 1rem;
          padding: 5px 12px;
          border-radius: 5px;
          background-color: color(gray-darker);
          color: color(white);
        }

        button:hover {
          background-color: #bc0031;
        }
      }
    }
  }
}
