@import 'base/scss';
@import 'base/global';

.home {

	.container {
		@include bootstrap(container);
	}

	.top {
		display: flex;
		margin-top: 3rem;

		.top-container {
			display: block;
			//border: 2px solid black;
			width: 500px;

			h1 {
				font-weight: 600;
			}

			.top-content {
				display: block;
				margin-top: 5rem;
				margin-bottom: auto;

				button {
					margin-top: 1rem;
					padding: 8px 15px;
					border-radius: 5px;
					background-color: $gray-900;
					color: $white;
				}

				button:hover {
					background-color: #bc0031;
				}
			}
		}

		.top-carousel {
			display: flex;
			margin-left: auto;

			.top-carousel-content {
				display: flex;
				align-items: center;
				justify-content: center;
				// border: 2px solid black;
				// padding: 200px 250px;
			}
		}
	}

	.video {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 3rem;
		
		.video-content {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 400px;
			width: 700px;
			border: 2px solid black;
		}
	}

	.offers {
		display: flex;
		margin-top: 3rem;

		.offers-banner {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid black;

			img {
				height: 350px;
			}
		}

		.offers-container {
			display: flex;
			margin-left: auto;

			.offers-content {
				display: block;
				margin: auto;
				//border: 2px solid black;
	
				.offers-text {
					display: flex;
					margin-left: auto;
					width: 450px;
				}
	
				button {
					display: flex;
					margin-left: auto;
					margin-top: 1rem;
					padding: 5px 12px;
					border-radius: 5px;
					background-color: $gray-900;
					color: $white;
				}

				button:hover {
					background-color: #bc0031;
				}
			}
		}
	}

	.prodcomp {
		display: flex;
		margin-right: auto;
		margin-top: 3rem;

		.prodcomp-container {
			display: block;
			margin-top: auto;
			margin-bottom: auto;

			
			.prodcomp-text {
				width: 450px;
			}

			button {
				margin-top: 1rem;
				padding: 5px 12px;
				border-radius: 5px;
				background-color: $gray-900;
				color: $white;
			}

			button:hover {
				background-color: #bc0031
			}
		}

		.prodcomp-banner {
			display: flex;
			margin-left: auto;
			align-items: center;
			justify-content: center;
			border: 2px solid black;
			//padding: 150px 250px;
			img {
				height: 350px;
			}
		}
	}

	.gifts {
		display: flex;
		margin-top: 3rem;

		.gifts-banner {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid black;
			//padding: 150px 250px;
			img {
				height: 350px;
			}
		}

		.gifts-container {
			display: flex;
			margin-left: auto;

			.gifts-content {
				display: block;
				margin: auto;
				//border: 2px solid black;
	
				.gifts-text {
					display: flex;
					margin-left: auto;
					width: 450px;
				}
	
				button {
					display: flex;
					margin-left: auto;
					margin-top: 1rem;
					padding: 5px 12px;
					border-radius: 5px;
					background-color: $gray-900;
					color: $white;
				}

				button:hover {
					background-color: #bc0031;
				}
			}
		}
	}

}