@import "base/scss";
@import "base/global";

.header-side-nav {
  display: none;

  .header--with-side-nav & {
    display: flex;
    position: relative;
    width: var(--header-nav-height--mobile);
    height: var(--header-nav-height--mobile);
  }

  @include lg {
    width: 280px;
  }

  @include xl {
    @include col-span(3);
    width: auto;
  }

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--header-nav-height--mobile);
    height: var(--header-nav-height--mobile);
    margin: 0;
    background-color: color(gray-darker);
    color: color(white);
    font-size: 20px;
    font-weight: 500;
    padding: 0px 25px;
    cursor: pointer;
    z-index: $z-index-sidenav-heading;

    @include xl {
      width: 100%;
    }

    &:hover {
      background-color: color(red);
    }

    span {
      @include md-max {
        display: none;
      }

      @include lg {
        margin-left: 10px;
      }
    }
  }

  .active {
    background-color: color(red);
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    background-color: color(white);
    will-change: transform;
    transition: all 0.1s ease-out;
    z-index: $z-index-sidenav-list;
    cursor: default;
    border-radius: 4px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    box-shadow: 0 10px 25px 5px rgba(color(black), 0.5);

    @include md {
      padding-inline: container-margin(md);
    }

    @include lg {
      margin-inline: (container-margin(lg) * -1);
      padding-inline: container-margin(lg);
    }

    @include xl {
      width: 100%;
      margin-inline: 0;
      padding-inline: 0;
      box-shadow: none;
    }

    .offers-sidenav {
      height: fit-content;
      width: 100%;

      .offers-icon {
        display: flex;
        align-items: left;
        margin-left: 20px;

        i {
          font-size: 14px;
        }
      }

      .offers-label {
        display: flex;
        align-items: right;
        justify-content: right;
        margin-left: 50px;
        font-size: 14px;

        @include tablet {
          font-size: 12px;
        }
      }
    }

    .prodcomp-sidenav {
      max-height: 467px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .header--sticked & {
      &:hover {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
      }
    }

    li:hover ul {
      opacity: 1;
      visibility: visible;
    }

    span {
      text-align: start;
    }

    button {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      text-align: center;
      vertical-align: middle;
      height: 40px;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      color: black;
      border: none;
      background-color: white;
      border-bottom: 1px solid color(gray);

      &:hover {
        color: color(red);
        background-color: #eaeaea;
      }

      .category-label {
        position: absolute;
        margin-left: 45px;
        width: 60%;
      }

      .change-width {
        position: absolute;
        margin-left: 45px;
        width: 55%;
      }
    }

    .num-of-elements {
      align-items: right;
      text-align: center;
      margin-right: 3px;
      margin-left: auto;
      font-size: 10px;
      font-weight: bold;
      height: 20px;
      line-height: 16px;
      width: 20px;
      color: color(white);
      background-color: color(gray-dark);
      border: 2px solid color(gray-dark);
      border-radius: 10px;
    }
  }

  .listing {
    padding-left: 15px;
  }

  .list {
    &.active {
      button {
        color: color(red);
        //text-decoration: underline;
        background-color: #eaeaea;
      }
    }

    &.focus {
      button {
        color: color(red);
        //text-decoration: underline;
        background-color: #eaeaea;
      }
    }
  }

  .active-listing {
    &.active {
      button {
        color: color(red);
        //text-decoration: underline;
        background-color: #eaeaea;
      }
    }

    &.focus {
      button {
        color: color(red);
        //text-decoration: underline;
        background-color: #eaeaea;
      }
    }
  }

  &__sub-list {
    a {
      height: 50px;
      padding: 13px 20px;
    }
  }

  &__label {
    display: block;
    text-align: center;
    line-height: 21px;
    height: 25px;
    border-bottom: 1px solid color(gray);

    .label {
      font-size: 10px;
      font-weight: 600;
    }

    //button on or off
    .switch {
      top: 5px;
      bottom: 0;
      right: 0;
      left: 12px;
      position: relative;
      display: inline-block;
      width: 28px;
      height: 16px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 2px;
      top: 1.6px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: color(red);
    }

    input:focus + .slider {
      box-shadow: 0 0 0 color(red);
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(12px);
      -ms-transform: translateX(12px);
      transform: translateX(12px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 19px;
    }

    .slider.round:before {
      border-radius: 100%;
    }
  }

  &__icon {
    padding: 5px;
    margin-right: 5px;
  }

  &__arrow-container {
    position: absolute;
    margin-top: 526px;
    width: 99.95%;
    height: 40px;
    //border: 1px solid rebeccapurple;
    //background-color: color(white);

    .arrow-button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: color(red);
      padding: 6px;
      cursor: pointer;
      animation: arrow-button 0.5s infinite alternate ease-in-out;

      i {
        font-size: 30px;
      }
    }

    @keyframes arrow-button {
      0% {
        transform: translateY(-0.4rem);
        opacity: 0.6;
      }
      100% {
        transform: translateY(0.2rem);
        opacity: 0.9;
      }
    }

    @include small_laptop {
      margin-left: -0.5rem;
      width: 13.7rem;
    }

    @include tablet {
      margin-left: -2.1rem;
    }

    @include ms_tablet {
      margin-left: -18px;
    }

    @include mxs_tablet {
      margin-left: 12px;
    }

    @include xs_tablet {
      margin-left: 20px;
    }

    @include large_mobile {
      margin-left: 1.3rem;
      width: 13.7rem;
    }
  }

  .test-class {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 258px;
    margin-top: 63px;
    height: 43px;
    width: 787pt;
    background-color: chartreuse;
  }
}

.header-side-nav-2 {
  visibility: hidden;
}
