@import 'base/scss';
@import 'base/global';

.header-nav {
    display: flex;
    align-items: stretch;
    height: 62px;
    background-color: $gray-900;
    transition: all 0.3s;

    @include tablet {
        width: 103%;
    }

    @include large_mobile {
        width: 102%;
    }

    .header--sticked & {
        background-color: $white;
    }

    &__container {
        @include bootstrap(container);
    }

    &__row {
        display: flex;
        align-items: stretch;
        height: 100%;
    }

    .menu-area {
        @include bootstrap(col-lg-9 col-12);
        display: flex;
        //position: sticky;
        height: 100%;

        @include laptop {
            width: 70%;
        }

        @include tablet {
            width: 50%;
        }

        @include large_mobile {
            width: 60%;
        }

        @include small_mobile {
            width: 50%;
        }
    }

    .main-menu {
        display: flex;
        align-items: stretch;
        margin-bottom: 0;
        height: 100%;
        margin-left: 10rem;

        a {
            display: inline-flex;
            align-items: center;
            height: 100%;
            color: $white;
            font-size: 15px;
            padding: 0 15px;

            .header--sticked & {
                color: $black;
            }

            &:hover,
            &:focus,
            &.current {
                background-color: $red;

                .header--sticked & {
                    color: $white;
                }
            }
        }

        @include small_laptop {
            margin-left: 14rem;
        }

        @include tablet {
            margin-left: 8rem;
        }

        @include small_tablet {
            margin-left: 10rem;
        }

        @include ms_tablet {
            margin-left: 10rem;
        }

        @include mxs_tablet {
            margin-left: 11.5rem;
        }

        @include xs_tablet {
            margin-left: 10rem;
        }

        @include xl_mobile {
            margin-left: 8.5rem;

            a {
                font-size: 14px;
            }
        }

        @include xml_mobile {
            margin-left: 7.3rem;

            a {
                font-size: 13px;
            }
        }

        @include large_mobile {
            margin-left: 7rem;

            a {
                font-size: 12px;
            }
        }

        @include medlarge_mobile {
            margin-left: 6.4rem;
        }

        @include sl_mobile {
            margin-left: 5.6rem;
        }

        @include sm_mobile {
            margin-left: 4.1rem;
        }

        @include small_mobile {
            margin-left: 4.8rem;
            a {
                padding: 0 10px;
                font-size: 10px;
            }
        }
    }
    
}