@import "base/scss";
@import "base/global";

.header-middle {
  --header-middle-height--mobile: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-middle-height--mobile);

  &__container {
    @include container;
    position: relative;
    height: 100%;

    @include below-xs {
      margin-left: 10px;
      margin-right: 10px;
      max-width: none;
      width: calc(100% - 20px);
    }
  }

  &__row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
  }

  &__left {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: visible;

    @include below-xs {
      justify-content: flex-end;
    }

    @include lg {
      position: static;
      height: auto;
    }
  }

  &__search {
    display: none;
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: var(--header-middle-height--mobile);
  }

  .search-top {
    display: none;
  }

  .search-bar-top {
    text-align: center;
  }

  .search-bar {
    display: none;
    width: 535px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    background: color(white);
    position: relative;
    margin: 0;
    line-height: 45px;
    border-radius: 5px;
    border: 1px solid color(gray);

    form {
      width: 100%;
    }

    @include laptop {
      left: 10.5rem;
      width: 492px;
    }

    @include small_laptop {
      top: 0;
      left: 9rem;
      width: 405px;
    }

    @include tablet {
      top: 0;
      left: 0.5rem;
      width: 400px;
    }

    @include small_tablet {
      left: 0;
    }

    @include xs_tablet {
      left: -0.3rem;
    }

    @include xml_mobile {
      left: -0.4rem;
      width: 350px;
    }

    @include large_mobile {
      width: 300px;
      height: 45px;
    }

    @include medlarge_mobile {
      left: -0.2rem;
    }

    @include sl_mobile {
      left: -0.2rem;
    }

    @include small_mobile {
      width: 250px;
    }

    input {
      height: 48px;
      background: transparent;
      margin-left: -4rem;
      color: color(gray-darker);
      border-radius: 0;
      border: none;
      font-size: 14px;
      font-weight: 400;
      padding: 0 25px 0 20px;
      width: 450px;
      text-align: center;

      @include laptop {
        width: 430px;
      }

      @include small_laptop {
        width: 340px;
      }

      @include tablet {
        margin-left: -3.7rem;
        width: 328px;
      }

      @include xml_mobile {
        position: relative;
        font-size: 13px;
        width: 280px;
      }

      @include large_mobile {
        height: 45px;
        width: 230px;
        bottom: 3px;
        font-size: 12px;
      }

      @include small_mobile {
        width: 180px;
      }
    }

    .btn {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      line-height: 53px;
      width: 62px;
      text-align: center;
      font-size: 18px;
      color: color(white);
      background: color(gray-darker);
      position: absolute;
      right: -2px;
      top: -1px;
      border: none;
      border-radius: 0 5px 5px 0;
      transition: all 0.4s ease;

      &:hover,
      &:focus {
        background-color: #bc0031;
      }

      @include large_mobile {
        height: 45px;
      }
    }
  }

  .right-bar {
    display: flex;
    align-items: center;

    &__links {
      display: none;

      @include desktop-up {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid color(gray-light);
      }

      a:link,
      a:active,
      a:visited {
        color: color(gray);

        &:hover {
          color: color(gray-light);
        }
      }
    }
  }

  .single-bar {
    &:not(:first-child) {
      margin-left: 25px;
    }
  }

  .flag-container {
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0px;
    z-index: $z-index-language-select;
  }

  .menu-flags {
    position: relative;

    ul {
      top: 32px;
      width: 160px;
      overflow-y: scroll;
      height: fit-content;

      @include laptop {
        position: absolute;
        left: 0;
      }

      li {
        padding-left: 20px;
        height: 30px;
      }
    }

    ul::-webkit-scrollbar {
      display: none;
    }
  }

  .menu-flags-button {
    border: none;
    padding: 0;

    &:hover {
      background-color: color(gray);
    }
  }

  .single-icon {
    display: flex;
    align-items: center;
    color: color(gray-dark);
    font-size: 20px;

    &:hover,
    &:focus {
      color: #bc0031;
    }
  }
}
