@import 'base/scss';
@import 'base/global';

.header-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid color(gray-darker);
    height: 90px;

    &__container {
        @include bootstrap(container);
    }

    &__row {
        @include bootstrap(row);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include laptop {
            display: block;
        }

        @include small_laptop {
            display: block;
        }

        @include tablet {
            display: block;
        }

        @include large_mobile {
            display: block;
            .search-bar {
                top: 25px;

                form { width: 50%; }
            }
        }
    }

    &__left {
        @include bootstrap(col-lg-2 col-md-2 col-12);
        display: flex;
    }

    &__search {
        display: none;
        @include bootstrap(col-lg-8 col-md-7 col-12);
    }

    &__right {
        @include bootstrap(col-lg-2 col-md-3 col-12);
        flex-shrink: 0;

        @include laptop {
            margin-left: 0;
        }
    }

    .logo {
        margin-top: 0;
        z-index: -10;

        @include laptop {
            position: absolute;
            top: -3.6rem;
            margin-left: 22.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 13rem;
            width: 15rem;
        }

        @include small_laptop {
            margin-left: 14rem;
        }

        @include tablet {
            margin-left: 9rem;
        }

        @include small_tablet {
            margin-left: 8rem;
        }

        @include mxs_tablet {
            margin-left: 7;
        }

        @include xs_tablet {
            margin-left: 8.1rem;
        }

        @include xxl_mobile {
            margin-left: 7rem;
        }

        @include xml_mobile {
            top: -3.1rem;
            left: -0.8rem;
            height: 12rem;
            width: 14rem;
        }

        @include large_mobile {
            left: -1.1rem;
        }

        @include medlarge_mobile {
            left: -2rem;
        }

        @include mobile {
            left: -2.3rem;
        }

        @include sl_mobile {
            left: -2.8rem;
        }

        @include sm_mobile {
            top: -2.6rem;
            left: -3.5rem;
            height: 11rem;
            width: 13rem;
        }

        @include small_mobile {
            left: -4.7rem;
        }

    }

    .search-top {
        display: none;
    }

    .search-bar-top {
    	text-align: center;
    }

    .search-bar {
        display: none;
    	width: 535px;
    	height: 50px;
    	display: inline-flex;
        justify-content: center;
    	background: $white;
    	position: relative;
    	margin: 0;
    	line-height: 45px;
    	border-radius: 5px;
    	border: 1px solid $gray-300;

        form {
            width: 100%;
        }

        @include laptop {
            left: 10.5rem;
            width: 492px;
        }

        @include small_laptop {
            top: 0;
            left: 9rem;
            width: 405px;
        }

        @include tablet {
            top: 0;
            left: 0.5rem;
            width: 400px;
        }

        @include small_tablet {
            left: 0;
        }

        @include xs_tablet {
            left: -0.3rem;
        }

        @include xml_mobile {
            left: -0.4rem;
            width: 350px;
        }

        @include large_mobile {
            width: 300px;
            height: 45px;
        }

        @include medlarge_mobile {
            left: -0.2rem;
        }

        @include sl_mobile {
            left: -0.2rem;
        }

        @include small_mobile {
            width: 250px;
        }

        input {
            height: 48px;
            background: transparent;
            margin-left: -4rem;
            color: $gray-900;
            border-radius: 0;
            border: none;
            font-size: 14px;
            font-weight: 400;
            padding: 0 25px 0 20px;
            width: 450px;
            text-align: center;

            @include laptop {
                width: 430px;
            }

            @include small_laptop {
                width: 340px;
            }

            @include tablet {
                margin-left: -3.7rem;
                width: 328px;
            }

            @include xml_mobile {
                position: relative;
                font-size: 13px;
                width: 280px;
            }

            @include large_mobile {
                height: 45px;
                width: 230px;
                bottom: 3px;
                font-size: 12px;
            }

            @include small_mobile {
                width: 180px;
            }
        }

        .btn {
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            line-height: 53px;
            width: 62px;
            text-align: center;
            font-size: 18px;
            color: $white;
            background: $gray-900;
            position: absolute;
            right: -2px;
            top: -1px;
            border: none;
            border-radius: 0 5px 5px 0;
            transition: all 0.4s ease;

            &:hover, &:focus {
                background-color: #bc0031;
            }

            @include large_mobile {
                height: 45px;
            }
        }
    }

    .right-bar {
        display: flex;
        align-items: center;
    }

    .single-bar {
        &:not(:first-child) {
            margin-left: 25px;
        }
    }

    .flag-container {
        display: flex;
        align-items: center;
        margin-top: 7px;
        margin-left: 0;
        margin-right: 0px;

        @include tablet {
            margin-left: -4.2rem;
        }

        @include medium_tablet {
            margin-left: -4.6rem;
        }

        @include small_tablet {
            margin-left: -3.5rem;
        }

        @include ms_tablet {
            margin-left: -2.8rem;
        }

        @include mxs_tablet {
            margin-left: -1.5rem;
        }

        @include xs_tablet {
            margin-left: -0.5rem;
        }

        @include xl_mobile {
            margin-left: -0.7rem;
        }

    }

    .menu-flags {
        position: relative;

        ul {
            top: 32px;
            width: 160px;
            overflow-y: scroll;
            height: fit-content;

            @include laptop{
                position: absolute;
                left: 0;
            }

            li {
                padding-left: 20px;
                height: 30px;
            }
        }

        ul::-webkit-scrollbar {
            display: none;
        }
    }

    .menu-flags-button {
        border: none;

        &:hover {
            background-color: $gray-300;
        }
    }

    .single-icon {
        display: flex;
        align-items: center;
        color: $gray-800;
        font-size: 20px;

        &:hover, &:focus {
            color: #bc0031;
        }
    }

}
