<header class="header shop">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-12">
          <!-- Top Left -->
          <div class="top-left">
            <ul class="list-main">
              <li><i class="ti-headphone-alt"></i> +123 (456) 789-102</li>
              <li><i class="ti-email"></i>kramerkirill@gmx.de</li>
            </ul>
          </div>
          <!--/ End Top Left -->
        </div>
        <div class="col-lg-7 col-md-12 col-12">
          <!-- Top Right -->
          <div class="right-content">
            <ul class="list-main">

              <li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
              <li><i class="ti-user"></i> <a href="#">My account</a></li>
              <li><i class="ti-power-off"></i><a href="login.html#">Login</a></li>
            </ul>
          </div>
          <!-- End Top Right -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <!-- Logo -->
          <div class="logo">
            <a href="/"><img src="assets/images/logo.png" alt="logo"></a>
          </div>
          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top">
            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
            <!-- Search Form -->
            <div class="search-top">
              <form class="search-form">
                <input type="text" placeholder="Search here..." name="search">
                <button value="search" type="submit"><i class="ti-search"></i></button>
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
          <!--/ End Search Form -->
          <div class="mobile-nav"></div>
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div class="search-bar-top">
            <div class="search-bar">

              <form>
                <input name="search" placeholder="Search Products Here....." type="search">
                <button class="btnn"><i class="ti-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="right-bar">
            <!-- Search Form -->

            <div class="sinlge-bar">
              <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <div class="col-lg-3">
            <div class="all-category">
              <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
              <ul class="main-category">
                <li><a href="#">New Arrivals <i class="fa fa-angle-right" aria-hidden="true"></i></a>

                </li>
                <li class="main-mega"><a href="#">best selling <i class="fa fa-angle-right" aria-hidden="true"></i></a>

                </li>
                <li><a href="#">accessories</a></li>
                <li><a href="#">top 100 offer</a></li>
                <li><a href="#">sunglass</a></li>
                <li><a href="#">watch</a></li>
                <li><a href="#">man’s product</a></li>
                <li><a href="#">ladies</a></li>
                <li><a href="#">western dress</a></li>
                <li><a href="#">denim </a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                      <li><a [routerLink]="['/']" routerLinkActive="active current">Home</a></li>
                      <li><a [routerLink]="['/productcomparison']" routerLinkActive="active">Product Comparison</a></li>
                      <li><a [routerLink]="['/findtube']" routerLinkActive="active">Findtube</a></li>
                      <li><a [routerLink]="['/blog']" routerLinkActive="active">Blog</a></li>
                      <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
</header>
<section class="hero-slider">

  <div class="single-slider">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
            <div class="row">
              <div class="col-12">
                
              
                <BR>
                <div class="row">
                  <div class="col-md-5">
                    <div class="container-fluid padd">
                    
                   
                      <div class="grid" >
                        <div class="grid-item grid-item--width8 grid-item--height4">1</div>
          
                      
                     
                      </div>
                    
                    </div>

                  </div>

                  <div class="col-md-7">
                    <div class="container-fluid ">
                    
                   
                      <div class="grid float-right" >
                        <div class="grid-item grid-item--width2 grid-item--height2">1</div>
                        <div class="grid-item grid-item--width5 grid-item--height2">4</div>
                        <div class="grid-item grid-item--width1 grid-item--height1">2</div>
                        <div class="grid-item grid-item--width1 grid-item--height1">3</div>
                        <div class="grid-item grid-item--width6 grid-item--height5">5</div>
                     
                      </div>
                    
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>