@import "./scss";

* {
    box-sizing: border-box;
}

ol, ul {
    padding-left: 0;
}

a {
    text-decoration: none;
}

// Colors utility classes
@each $color-name, $color-value in $colors {
    #{"." + $color-name} {
        color: $color-name;
    }

    #{".bg-" + $color-name} {
        background-color: $color-value
    }
}