@import "base/scss";

$item-layout: (
    3: (
        column-start: 11,
        row-start: 6,
    ),
    4: (
        column-start: 9,
        row-start: 7,
    ),
);

.natural-list {
    position: relative;
    margin-top: 50px;

    & + & {
        margin-top: 50px;
    }
    
    /*=============================
	Loading Icon CSS
    ===============================*/
    .loading {
	    text-align: center;
    }

    .loading-icon {
        margin-top: 19%;
        margin-left: 43%;
	    height: 150px;
	    pointer-events: none;
    }
  
    @media (prefers-reduced-motion: no-preference) {
	    .loading-icon {
	        animation: loading-icon-spin infinite 1.5s linear;
	    }
    }
  
    @keyframes loading-icon-spin {
	    from {
	        transform: rotate(0deg);
	    }
	    to {
	        transform: rotate(360deg);
	    }
     }
  
    &__content {
        padding-top: calc(100% * 8 / 13);
    }
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        direction: rtl;
        padding: 5px;
        background-color: color(gray);
    }
    
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid color(mustard);
        position: relative;
        direction: ltr;
        background-color: color(white);
        transition: all .3s;
        box-shadow: none;

        // Show only first product title
        &:nth-child(n + 3) {
            .natural-list__title {
                display: none;
            }
        }

        // Border, activates when item is clicked
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: none;
            pointer-events: none;
            z-index: 1;
            transition: all .3s;
        }

        // Active state
        &--active {
            &::after {
                box-shadow: inset 0 0 0 10px color(mustard);
            }

            .natural-list__title {
                color: color(white);
                background-color: color(mustard);
            }
        }

        // Golden ratio items logic
        @for $i from 1 through 6 {
            $fib-num: fibonacci(8 - $i); // Get item from reversed fib

            &:nth-child(#{$i}) {
                grid-column-end: span #{$fib-num};
                grid-row-end: span #{$fib-num};

                @if map-has-key($item-layout, $i ) {
                    $item-layout: map-get($item-layout, $i );
    
                    @if map-has-key($item-layout, 'column-start') {
                        grid-column-start: map-get($item-layout, 'column-start');
                    }

                    @if map-has-key($item-layout, 'row-start') {
                        grid-row-start: map-get($item-layout, 'row-start');
                    }
                }
            }
        }
    }

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        padding: 5px 10px;
        color: color(white);
        background-color: color(mustard);

        &::after {
            content: '';
            display: block;
            border-top: 16px solid color(mustard);
            border-left: 10px solid color(mustard);
            border-right: 10px solid transparent;
            border-bottom: 16px solid transparent;
            margin-right: -30px;
        }
    }

    &__figure {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        margin-bottom: 0;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    &__title {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: rgba(color(white), .8);
        text-align: left;
        transition: all .3s;
    }
    
    &__separator {
        position: absolute;
        font-size: 24px;
        margin-top: -49px;
        text-align: center;
        text-shadow: 2px 1px 3px rgb(214, 214, 214);
        height: 48px;
        width: 100%;
        line-height: 47px;
        color: $white;
        background-color: $gray-900;
        border: 1px solid $gray-900;
        border-radius: 4px;
    }

    
    &__mfd {
        align-items: right;
        font-size: 20px;
        text-shadow: 2px 1px 3px rgb(214, 214, 214);
        margin-top: -48px;
        margin-left: 45em;
        color: $white;
    }

    .left-arrow {
        position: absolute;
        text-align: center;
        align-items: center;
        line-height: 13px;
        height: 17px;
        padding-right: 5px;
        padding-left: 4px;
        margin-top: -32px;
        margin-left: 4px;
        background-color: $white;
        border: 1px solid $gray-900; 

        i {
            font-weight: bolder;
            margin-top: -1px;
        }

        &:hover {
            background-color: $red;
            color: $white
        }
    }
    .right-arrow {
        position: absolute;
        text-align: center;
        align-items: center;
        line-height: 13px;
        height: 17px;
        padding-right: 4px;
        padding-left: 5px;
        margin-top: -32px;
        margin-left: 1008px;
        background-color: $white;
        border: 1px solid $gray-900; 

        i {
            font-weight: bolder;
            margin-top: -1px;
        }

        &:hover {
            background-color: $red;
            color: $white
        }
    }

    &__price-cat {
        display: flex;
        position: absolute;
        margin-top: -38px;
        margin-left: 580pt;

        button {
            background-color: $white;
            border: 5px solid $gray-900;
            font-size: small;
            font-weight: bold;
            width: 35px;
        }

        button:hover {
            background-color: $red;
            color: $white
        }
    }
}