@import "base/scss";

$item-layout: (
    3: (
        column-start: 11,
        row-start: 6,
    ),
    4: (
        column-start: 9,
        row-start: 7,
    ),
);

.natural-list {
    position: relative;
    margin-top: 95px;

    & + & {
        margin-top: 50px;
    }

    /*=============================
	Loading Icon CSS
    ===============================*/
    .loading {
	    text-align: center;
    }

    .loading-icon {
        margin-top: 34%;
        margin-left: 36%;
	    height: 150px;
	    pointer-events: none;
    }

    @media (prefers-reduced-motion: no-preference) {
	    .loading-icon {
	        animation: loading-icon-spin infinite 1.5s linear;
	    }
    }

    @keyframes loading-icon-spin {
	    from {
	        transform: rotate(0deg);
	    }
	    to {
	        transform: rotate(360deg);
	    }
     }

    &__content {
        padding-top: calc(100% * 8 / 13);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        direction: rtl;
        padding: 5px;
        background-color: color(gray);
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid color(mustard);
        position: relative;
        direction: ltr;
        background-color: color(white);
        transition: all .3s;
        box-shadow: none;

        // Show only first product title
        &:nth-child(n + 3) {
            .natural-list__title {
                display: none;
            }
        }

        // Border, activates when item is clicked
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: none;
            pointer-events: none;
            z-index: 1;
            transition: all .3s;
        }

        // Active state
        &--active {
            &::after {
                box-shadow: inset 0 0 0 10px color(mustard);
            }

            .natural-list__title {
                color: color(white);
                background-color: color(mustard);
            }
        }

        // Golden ratio items logic
        @for $i from 1 through 6 {
            $fib-num: fibonacci(8 - $i); // Get item from reversed fib

            &:nth-child(#{$i}) {
                grid-column-end: span #{$fib-num};
                grid-row-end: span #{$fib-num};

                @if map-has-key($item-layout, $i ) {
                    $item-layout: map-get($item-layout, $i );

                    @if map-has-key($item-layout, 'column-start') {
                        grid-column-start: map-get($item-layout, 'column-start');
                    }

                    @if map-has-key($item-layout, 'row-start') {
                        grid-row-start: map-get($item-layout, 'row-start');
                    }
                }
            }
        }
    }

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        padding: 5px 10px;
        color: color(white);
        background-color: color(mustard);

        &::after {
            content: '';
            display: block;
            border-top: 16px solid color(mustard);
            border-left: 10px solid color(mustard);
            border-right: 10px solid transparent;
            border-bottom: 16px solid transparent;
            margin-right: -30px;
        }
    }

    &__figure {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        margin-bottom: 0;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    &__title {
        display: flex;
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: rgba(color(white), .8);
        text-align: left;
        align-items: left;
        align-content: left;
        transition: all .3s;
    }

    &__separator {
        position: absolute;
        font-size: 15px;
        margin-top: -49px;
        text-align: center;
        text-shadow: 2px 1px 3px rgb(214, 214, 214);
        height: 48px;
        width: 100%;
        line-height: 47px;
        color: $white;
        background-color: $gray-900;
        border: 1px solid $gray-900;
        border-radius: 4px;
        cursor: default;

        @include medlarge_desktop {
            span {
                margin-left: -75pt;
            }
         }

        @include desktop {
           span {
               margin-left: -100pt;
           }
        }

        @include small_desktop {
            span {
                margin-left: -115pt;
            }
        }

        @include custom_desktop {
            span {
                font-size: 14px;
            }
        }

        @include custom_laptop {
            span {
                margin-left: -165pt;
                font-size: 10px;
            }
        }
    }


    &__mfd {
        display: flex;
        justify-content: center;
        align-items: right;
        font-size: 15px;
        text-shadow: 2px 1px 3px rgb(214, 214, 214);
        margin-top: -48px;
        margin-left: 59em;
        color: $white;

        @include medlarge_desktop {
            margin-left: 47em;
        }

        @include desktop {
            margin-left: 46em;
        }

        @include custom_desktop {
            margin-left: 37em;
            font-size: 14px;
        }

        @include small_desktop {
            margin-left: 38em;
        }

        @include laptop {
            margin-left: 37em;
        }

        @include custom_laptop {
            margin-left: 31em;
            font-size: 11px;
        }
    }

    .left-arrow {
        position: absolute;
        margin-top: -34px;
        margin-left: 6px;
        cursor: pointer;
        color: $gray-300;

        i {
            font-size: 20px;
        }

        &:hover {
            color: $red;
        }

        @include custom_laptop {
            margin-top: -36px;
            margin-left: 4px;

            i {
                font-size: 15px;
            }
        }
        
    }
    .right-arrow {
        position: absolute;
        margin-top: -34px;
        margin-left: 1009px;
        cursor: pointer;
        color: $gray-300;

        i {
            font-size: 20px;
        }

        &:hover {
            color: $red;
        }

        @include medlarge_desktop {
            margin-left: 829px;   
        }
        

        @include desktop {
            margin-left: 828px;   
        }

        @include custom_desktop {
            margin-left: 650px;
        }

        @include small_desktop {
            margin-left: 649px;   
        }

        @include laptop {
            margin-left: 650px;
        }

        @include custom_laptop {
            margin-top: -36px;
            margin-left: 414px;

            i {
                font-size: 15px;
            }
        }

    }

    &__price-cat {
        margin:0;
        padding:0;
        position:absolute;
        left: 485pt;
        top: -36px;
        list-style:none;

        @include medlarge_desktop {
            margin-left: -105pt;
        }
        
        @include desktop {
            margin-left: -130pt;
        }

        @include custom_desktop {
            margin-left: -218pt;
        }

        @include small_desktop {
            margin-left: -200pt;
        }

        
        @include custom_desktop {
            top: -34px;
            margin-left: -210pt;
        }

        @include laptop {
            margin-left: -218pt;
            flex-shrink: 0;
        }

        @include custom_laptop {
            margin-left: -360pt;
        }
    }

    &__price-cat button {
        float: left;
        height: 24px;
        line-height: 22px;
        position: relative;
        font-size: 11px;
        font-weight: bolder;

        @include custom_desktop {
            height: 20px;
            line-height: 18px;
            font-size: 9px;
        }
    }

    &__price-cat button {
        margin-left: 20px;
        padding: 0 20px 0 12px;
        background: $gray-300;
        color: black;
        text-decoration: none;
        -moz-border-radius-bottomright: 2px;
        -webkit-border-bottom-right-radius: 2px;
        border-bottom-right-radius: 2px;
        -moz-border-radius-topright: 2px;
        -webkit-border-top-right-radius: 2px;
        border-top-right-radius: 2px;
        
        -webkit-box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.5);
        box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.5);

        @include custom_desktop {
            padding: 0 18px 0 10px;
            margin-left: 15px;
            -webkit-box-shadow: 0.5px 1.5px 1.5px 0.5px rgba(0,0,0,0.5);
            -moz-box-shadow: 0.5px 1.5px 1.5px 0.5px rgba(0,0,0,0.5);
            box-shadow: 0.5px 1.5px 1.5px 0.5px rgba(0,0,0,0.5);
        }
    }

    &__price-cat button:before {
        content: "";
        float: left;
        position: absolute;
        top: 0;
        right: -12px;
        width: 0;
        height: 0;
        border-color: $gray-300  transparent  $gray-300 transparent;
        border-style: solid;
        border-width: 11px 12px 11.2px 0;

        @include custom_desktop {
            border-width: 9px 10px 9.2px 0;
        }
    }

    &__price-cat button:after {
        content: "";
        position: absolute;
        top: 10px;
        right: 5px;
        float: left;
        width: 4px;
        height: 4px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: $white;
        -moz-box-shadow: -1px -1px 2px #004977;
        -webkit-box-shadow: -1px -1px 2px #004977;
        box-shadow: -1px -1px 2px #004977;

        @include custom_laptop {
            top: 8px;
        }
    }

    &__price-cat button:hover {
        background: $red;
        color: $white;
    }

    &__price-cat button:hover:before {
        border-color: $red transparent $red transparent;
    }

    &__price {
        position: absolute;
        align-items: left;
        font-weight: bolder;
        font-size: 11px;
        cursor: default;
        right: 7%;
        bottom: 7%;
        height: fit-content;
        width: fit-content;
        padding-left: 3px;
        padding-right: 3px;
        border: 1px solid #3771d0;
        border-radius: 4px;
        background-color: #f5f5f5;

        span {
            text-align: center;
            color: #0d45a0;
        }
        
    }

    .price-per-product {
        //display: inline-block;
        position: absolute;
        width: fit-content;
        height: 20px;
        align-items: left;
        right: 6%;
        bottom: 7%;
        cursor: pointer;
        
        background-color: $red;
        -webkit-border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
        border-left: 1px solid $red;
    
        /* This makes room for the triangle */
        position: absolute;
        
        color: white;
        font-weight: bolder;
        font-size: 11px;
        line-height: 20px;
    
        padding: 0 4px 0 5px;
    }
    
    /* Makes the triangle */
    .price-per-product:before {
        content: "";
        position: absolute;
        display: block;
        left: -12px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $red;
        padding-right: 2px;
    }
    
    /* Makes the circle */
    .price-per-product:after {
        content: "";
        background-color: white;
        border-radius: 50%;
        width: 2px;
        height: 2px;
        display: block;
        position: absolute;
        left: -3px;
        top: 9px;
    }


}