.product-details {
    height: 100%;
    padding: 20px 20px 0;
    text-align: left;
    overflow-y: auto;

    &__title {
        font-size: 32px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        min-height: 100%;
    }

    &__additional {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-shrink: 0;
        align-items: start;
        align-self: flex-end;
        position: sticky;
        bottom: 0;
        width: calc(100% + 40px);
        padding: 4px 20px;
        border-top: 1px solid silver;
        background-color: white;
        margin-left: -20px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__link-item {
        display: flex;
        align-items: center;
    }

    &__link-item + &__link-item {
        margin-top: 12px;
    }

    &__link {
        display: flex;
        height: 30px;
        width: 100px;
        margin-right: 20px;
    }

    &__link-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__price {
        font-weight: bold;
    }

    &__diff {
        margin-left: 20px;
        font-weight: bold;
    }

    &__diff--lower {
        margin-left: 20px;
        font-weight: bold;
        color: green;
    }

    &__diff--higher {
        margin-left: 20px;
        font-weight: bold;
        color: red;
    }

    .product-rating {
        grid-column-start: 2;
        justify-self: end;
    }

    // Amazon styles overrides
    .twister-plus-darken-bg {
        display: none;
    }

}